@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-50: #f2f8ec;
    --text-100: #e4f2d9;
    --text-200: #cae4b4;
    --text-300: #afd78e;
    --text-400: #94ca68;
    --text-500: #79bd42;
    --text-600: #619735;
    --text-700: #497128;
    --text-800: #314b1b;
    --text-900: #18260d;
    --text-950: #0c1307;

    --background-50: #f6f7ed;
    --background-100: #ecf0db;
    --background-200: #d9e1b7;
    --background-300: #c6d293;
    --background-400: #b3c36f;
    --background-500: #a1b44b;
    --background-600: #80903c;
    --background-700: #606c2d;
    --background-800: #40481e;
    --background-900: #20240f;
    --background-950: #101208;

    --primary-50: #f1f6ee;
    --primary-100: #e4edde;
    --primary-200: #c9dcbc;
    --primary-300: #aeca9b;
    --primary-400: #93b979;
    --primary-500: #78a758;
    --primary-600: #608646;
    --primary-700: #486435;
    --primary-800: #304323;
    --primary-900: #182112;
    --primary-950: #0c1109;

    --secondary-50: #f2f8ec;
    --secondary-100: #e5f1da;
    --secondary-200: #cae3b5;
    --secondary-300: #b0d68f;
    --secondary-400: #96c86a;
    --secondary-500: #7cba45;
    --secondary-600: #639537;
    --secondary-700: #4a7029;
    --secondary-800: #314a1c;
    --secondary-900: #19250e;
    --secondary-950: #0c1307;

    --accent-50: #f2f4f1;
    --accent-100: #e5e9e2;
    --accent-200: #ccd3c5;
    --accent-300: #b2bca9;
    --accent-400: #98a68c;
    --accent-500: #7e906f;
    --accent-600: #657359;
    --accent-700: #4c5643;
    --accent-800: #333a2c;
    --accent-900: #191d16;
    --accent-950: #0d0e0b;

  }
  .dark {
    --text-50: #0c1307;
    --text-100: #18260d;
    --text-200: #314b1b;
    --text-300: #497128;
    --text-400: #619735;
    --text-500: #79bd42;
    --text-600: #94ca68;
    --text-700: #afd78e;
    --text-800: #cae4b4;
    --text-900: #e4f2d9;
    --text-950: #f2f8ec;

    --background-50: #101208;
    --background-100: #1f2310;
    --background-200: #3f4620;
    --background-300: #5e6a2f;
    --background-400: #7d8d3f;
    --background-500: #9db04f;
    --background-600: #b0c072;
    --background-700: #c4d095;
    --background-800: #d8dfb9;
    --background-900: #ebefdc;
    --background-950: #f5f7ed;

    --primary-50: #0c1109;
    --primary-100: #182112;
    --primary-200: #304323;
    --primary-300: #486435;
    --primary-400: #608646;
    --primary-500: #78a758;
    --primary-600: #93b979;
    --primary-700: #aeca9b;
    --primary-800: #c9dcbc;
    --primary-900: #e4edde;
    --primary-950: #f1f6ee;

    --secondary-50: #0c1307;
    --secondary-100: #19250e;
    --secondary-200: #314a1c;
    --secondary-300: #4a7029;
    --secondary-400: #639537;
    --secondary-500: #7cba45;
    --secondary-600: #96c86a;
    --secondary-700: #b0d68f;
    --secondary-800: #cae3b5;
    --secondary-900: #e5f1da;
    --secondary-950: #f2f8ec;

    --accent-50: #0d0e0b;
    --accent-100: #191d16;
    --accent-200: #333a2c;
    --accent-300: #4c5643;
    --accent-400: #657359;
    --accent-500: #7e906f;
    --accent-600: #98a68c;
    --accent-700: #b2bca9;
    --accent-800: #ccd3c5;
    --accent-900: #e5e9e2;
    --accent-950: #f2f4f1;

  }
}

